<!DOCTYPE html>
<html>
<head>
  <% include partials/headIndex %>
</head>

<body>
  <% include partials/navbarIndex %>
    <section>
      <h1>
        Sobre la aplicaci칩n
      </h1>
      <hr>
      <div style="text-align: justify;">
        <p>Sappudable es una aplicaci칩n m칩vil enfocada en orientar e informar a los jovenes 
          sobre como llevar un estilo de vida m치s saludable, debido a que son quienes tienen un 
          mayor riesgo de tener problemas de sobrepeso y obesidad la cual es una gran problematica 
          en la actualidad.</p>
      </div>
      <div style="padding:10px"></div>

    </section>
    <% include partials/footerIndex %>
</body>
<% include partials/scriptsIndex %>

</html>