<!DOCTYPE html>
<html>
<head>
  <% include partials/headIndex %>
</head>

<body>
  <% include partials/navbarIndex %>
    <section>
      <h1>
        Sobre la aplicación
      </h1>
      <hr>
      <div style="text-align: justify;">
        <p>Sappudable es una aplicación móvil ...</p>
      </div>
      <div style="padding:10px"></div>

    </section>
    <% include partials/footerIndex %>
</body>
<% include partials/scriptsIndex %>

</html>